*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    line-height: 160%;
    position: relative;
    height: 100%;
    margin: 0;
    background: #f4f4f6;
}

.navbar{
    background-color:#1c1c1c;
}

.dropdown-menu{
    width: 16rem;
    border-radius: 0;
    margin-left: .500rem;
}

.dropdown:hover .dropdown-menu{
    display: block;
    border-radius: 0;
    margin-top: .300rem;
    margin-left: .500rem;
}

.dropdown-item:hover{
    background-color: #646464;
}

.imageLogo{
    width: 30px;
}

.carousel-inner{
    height: 850px;
    /* border: solid green; */
}

.carousel-item{
    justify-content: center;
    align-items: center;
    height: 700px;
}

.contentLayout{
    height: 100%;
    background: #f4f4f6;
}


.carousel-item .heroText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.slideContent{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heroText .brandName{
    color: #f4f4f6;
    letter-spacing: 1.25rem;
    font-size: 60px;
}


.slide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.slideText2{
    margin-left: 300px;
    margin-top: 70px;
}

.slide3{
    margin-top: 355px;
}

.slideText3{
    margin-left: 300px;
    margin-top: 70px;
}

.carousel-item img{
    filter:brightness(80%);
    top: 0;
    left: 0;

}

.contentWrapper{
    margin-left: 5%;
    margin-right: 5%;
}

.sectionTitle{
    color: #1c1c1c;
    font-size: 70px;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 100px rgba(0, 0, 0, .7);
}

.bestSellerWrapper{
    display: flex;
}

.topProducts{
    width: 60%;
}

.card-body .addCart {
    background-color: #1c1c1c;
    color: #f4f4f6;
}

.card-body .addCart:hover {

    background-color: #f4f4f6;
    color: #1c1c1c;
}

.topDescription{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topWrapper{
    /* border: solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.descElement{
    width: 70%;
    margin-left: 50px;
    /* border: solid red; */
}

.descElement .buttonLight{
    border: 1px solid #1c1c1c;
    background-color: #f4f4f6;
    height: 50px;
}

.descElement .buttonLight:hover{
    color: #646464;
    border: 1px solid #646464;
    background-color: #f4f4f6;
}

.arrowButton i{
    /* border: solid black; */
    color: #1c1c1c;
    padding-left: 50px;
}

.categoryItem .row a{
    text-decoration: none;
}

.appBenefitWrapper{
    border: solid red;
    height: 600px;
}

.benefitContent{
    display: flex;
    justify-content: center;
}

.product .card-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .5px solid #1c1c1c;
    padding: 100px;
}

#exampleInputEmail1{
    background-color: #f4f4f6;
    border: 1px solid rgba(100, 100, 100, .60);
}

#exampleInputPassword1{
    background-color: #f4f4f6;
    border: 1px solid rgba(100, 100, 100, .60);
}

.loginButton{
    background-color: #1c1c1c;
}

.loginButton:hover{
    background-color: #f4f4f6;
}

.createAcc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#createAcc{
    color: #1c1c1c;
    text-decoration: none;
}















