*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    line-height: 160%;
    position: relative;
    height: 100%;
    margin: 0;
    background: #fafafa;
}

.navbar{
   background-color:#1c1c1c;
   box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.dropdown-menu{
    width: 16rem;
    border-radius: 0;
    margin-left: .500rem;
}

.dropdown:hover .dropdown-menu{
    display: block;
    border-radius: 0;
    margin-top: .300rem;
    margin-left: .500rem;
}

.dropdown-item:hover{
    background-color: #646464;
}

.imageLogo{
    width: 30px;
}

.carousel-inner{
    height: 93vh;
    /* border: solid green; */
}

.carousel-item{
    justify-content: center;
    align-items: center;
    height: 700px;
}

.contentLayout{
    height: 100%;
    background: #f4f4f6;
}





.slideContent{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heroText{
    margin: 0;
    padding: 0;
    position: absolute;
}

.heroText .brandName{
    color: #f4f4f6;
    letter-spacing: 1.25rem;
    font-size: 60px;
}


.slide img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.slideText2{
    margin-left: 300px;
    margin-top: 70px;
}

.slide3{
    margin-top: 355px;
}

.slideText3{
    margin-left: 300px;
    margin-top: 70px;
}

.carousel-item img{
    filter:brightness(80%);
    top: 0;
    left: 0;

}

.contentWrapper{
    margin-left: 5%;
    margin-right: 5%;
    /* border: solid red; */
}

.detailWrapper{
    margin-left: 5%;
    margin-right: 5%;
    border: solid red;
}

.sectionTitle{
    color: #1c1c1c;
    font-size: 70px;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 100px rgba(0, 0, 0, .7);
}

.bestSellerWrapper{
    display: flex;
}

.topProducts{
    width: 60%;
}

.card-body .addCart {
    background-color: #1c1c1c;
    color: #f4f4f6;
}

.card-body .addCart:hover {

    background-color: #f4f4f6;
    color: #1c1c1c;
}

.topDescription{
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topWrapper{
    /* border: solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.descElement{
    width: 70%;
    margin-left: 50px;
    /* border: solid red; */
}

.descElement .buttonLight{
    border: 1px solid #1c1c1c;
    background-color: #f4f4f6;
    height: 50px;
}

.descElement .buttonLight:hover{
    color: #646464;
    border: 1px solid #646464;
    background-color: #f4f4f6;
}

.arrowButton i{
    /* border: solid black; */
    color: #1c1c1c;
    padding-left: 50px;
}

.categoryItem .row a{
    text-decoration: none;
}

.appBenefitWrapper{
    border: solid red;
    height: 600px;
}

.benefitContent{
    display: flex;
    justify-content: center;
}

.product .card-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper{
    height: 100vh;
}



#inputEmail{
    border: none;
    border-bottom: .5px solid black;
    background-color: transparent;
}

#inputEmail:focus{
    box-shadow: none;
    border-color: initial;
    outline: none;
    background: none;
}

#inputPassword{
    border: none;
    border-bottom: .7px solid black;
}

#inputPassword:focus{
    box-shadow: none;
    border-color: initial;
    outline: none;
    background: none;
}
.show-password{
    position: absolute;
    right: 0;
    padding-right: 2px;
}

.loginButton{
    background-color: #1c1c1c;
}

.loginButton:hover{
    background-color: #f4f4f6;
}

.createAcc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#createAcc{
    color: #1c1c1c;
    text-decoration: none;
}

.productView{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputView{
    display: flex;
    flex-direction: row;
}

.detailProduct{
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ratingDetail{
    display: flex;
    flex-direction: row;
}

.subtotal{
    display: flex;
    flex-direction: row;
}

.quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addCartDetail{
    display: flex;
    background-color: #1c1c1c;
    border: rebeccapurple;
}

.cartView{
    display: flex;
}

.aCard, .card-title, .rating{
    color: #1c1c1c;
    text-decoration: none;
}

.cartSubmit{
    width: 700px;
    display: flex;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Warna hitam transparan */
    display: none; /* Tersembunyi secara default */
    justify-content: flex-end; /* Menempatkan cartView di kanan */
    align-items: flex-start;
    z-index: 10000;
}

.cartView{
    /* border: solid red; */
    width: 500px; /* Sesuaikan lebar cart */
    height: 100vh;
    background-color: #f4f4f6;
    transform: translateX(100%); /* Awalnya tersembunyi di luar layar */
    transition: transform 0.3s ease; /* Transisi geser */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100px;
    z-index: 10000;
}

.cartHead{
    /* border: solid red; */
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
}

.cartBody{
    /* border: solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-footer{
    /* box-shadow: 0 0 0px rgba(0, 0, 0, .6); */
    /* border: solid red; */
}

#cartCard{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
    font-size: 90%;
}

.descReviewProduct{
    /* border: solid black; */
    display: flex;
    flex-direction: column;
}

.productComment{
    /* border: solid red; */
    width: 45%;
}

.productLayout{
    /* border: solid red; */
    display: flex;
    flex-direction: row;
}

.reviewBox{
    /* border: solid red; */
}

.reviewSection{
    /* border: solid green; */
}

.reviewUser{
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likeDislike{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: solid red; */
}

.productListCard{
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.productDescription{
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantitySub{
    /* border: solid black; */
    display: flex;
}

.imgCartList{
    align-items: center;
}

.headerCard{
    display: flex;
    flex-direction: row;
}

.orderDetails{
    align-self: flex-start; /* Agar tidak memanjang mengikuti item */
    height: auto; /* Set height agar otomatis menyesuaikan konten */
    max-height: none; /
}

.mainCartBox{
    /* border: solid green; */
    display: flex;
    flex-direction: row;
}

.cartItem{
    display: flex;
    flex-direction: column;
    /* border: solid red; */
}

.subtotalDetail, .ppn,.orderTotal{
    display: flex;
    flex-direction: none;
    /* border: solid red; */
}

.orderSummaryContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid red; */
}

.orderTotal{
    align-items: center;
}

.inputReview{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.inputReview:focus{
    outline: none;
}

.orderSection{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
}

.profile {
    display: inline-flex;
    align-items: center;
}

.profile .nav-link {
    display: inline-flex;
    align-items: center;
}

.dropdown-menu {
    top: 100%; /* Menempatkan dropdown tepat di bawah */
}


.profileImage{
    /* border: solid red; */
    background-color: rgb(68, 169, 21);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}






















